<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrbzclass.studentincidents" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!--android:name=".StudentListActivity"   -->
        <activity
            android:name="com.mrbzclass.studentincidents.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"
            android:name="com.mrbzclass.studentincidents.ModifyStudentActivity"
            android:label="@string/app_name" />

        <activity android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"
            android:name="com.mrbzclass.studentincidents.AddStudentActivity"
            android:label="@string/app_name" />

        <activity android:theme="@style/AppTheme"
            android:name="com.mrbzclass.studentincidents.StudentCheckListActivity"
            android:label="@string/app_name1" />

        <activity android:theme="@style/AppTheme"
            android:name="com.mrbzclass.studentincidents.ImportMainActivity"
            android:label="@string/app_name1" />

        <activity android:theme="@style/AppTheme"
            android:name="com.mrbzclass.studentincidents.StudentListActivity"
            android:label="Student Edit">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.mrbzclass.studentincidents.MainActivity" />
        </activity>

        <activity
            android:name="com.mrbzclass.studentincidents.DetailActivity"
            android:parentActivityName="com.mrbzclass.studentincidents.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mrbzclass.studentincidents.MainActivity" />
        </activity>
        <activity
            android:name="com.mrbzclass.studentincidents.SigninActivity"
            android:label="@string/title_activity_signin"
            android:parentActivityName="com.mrbzclass.studentincidents.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mrbzclass.studentincidents.MainActivity" />
        </activity>
        <activity android:name="com.mrbzclass.studentincidents.PrefsActivity"
            android:label="Settings"
            android:parentActivityName="com.mrbzclass.studentincidents.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mrbzclass.studentincidents.MainActivity" />
        </activity>

        <activity android:name="com.mrbzclass.studentincidents.PrefsActivity1"
            android:label="Settings"
            android:parentActivityName="com.mrbzclass.studentincidents.IncidenbystudentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mrbzclass.studentincidents.IncidenbystudentActivity" />
        </activity>

        <activity android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"
            android:name="com.mrbzclass.studentincidents.ModifyIncidentActivity"
            />

        <activity android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"
            android:name="com.mrbzclass.studentincidents.AddIncidentActivity"
            />

        <activity android:theme="@style/AppTheme"
            android:name="com.mrbzclass.studentincidents.IncidentListActivity"
            android:label="Student Incidents">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.mrbzclass.studentincidents.MainActivity" />
        </activity>

        <activity android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"
            android:name="com.mrbzclass.studentincidents.ModifyConsequenceActivity"
            />

        <activity android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"
            android:name="com.mrbzclass.studentincidents.AddConsequenceActivity"
            />

        <activity android:theme="@style/AppTheme"
            android:name="com.mrbzclass.studentincidents.ConsequenceListActivity"
            android:label="Consequences"
            />

        <activity android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"
            android:name="com.mrbzclass.studentincidents.ModifyBehaviorsActivity"
            />

        <activity android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"
            android:name="com.mrbzclass.studentincidents.AddBehaviorsActivity"
            />

        <activity android:theme="@style/AppTheme"
            android:name="com.mrbzclass.studentincidents.BehaviorsListActivity"
            android:label="Behaviors"
            />

        <activity android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"
            android:name="com.mrbzclass.studentincidents.ModifyClassPeriodsActivity"
            />

        <activity android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"
            android:name="com.mrbzclass.studentincidents.AddClassPeriodsActivity"
            />

        <activity android:theme="@style/AppTheme"
            android:name="com.mrbzclass.studentincidents.ClassPeriodsListActivity"
            android:label="Class Periods"
            />

        <activity android:theme="@android:style/Theme.DeviceDefault.Light.DarkActionBar"
            android:name="com.mrbzclass.studentincidents.IncidenbystudentActivity"
            android:label="Behaviors by student">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.mrbzclass.studentincidents.MainActivity" />
            </activity>
    </application>

</manifest>
